name: Flutter Build

on:
  push:
    tag:

jobs:
  build-main-on-macos-sonoma:
    name: ios main on sonoma
    runs-on: macos-15
    strategy:
      matrix:
        xcode: [ '26.1' ]
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - name: prerequisites
        run: brew install autoconf automake libtool pkg-config curl git cmake nasm
      - name: set up xcode
        run: echo "export DEVELOPER_DIR=/Applications/Xcode_${{ matrix.xcode }}.app/Contents/Developer" > ~/.xcode.for.ffmpeg.kit.sh
      - name: run the build script
        run: ./ios.sh --xcframework --enable-ios-audiotoolbox --enable-ios-avfoundation --enable-ios-bzip2 --enable-ios-libiconv --enable-ios-videotoolbox --enable-ios-zlib --disable-arm64-mac-catalyst --disable-x86-64-mac-catalyst --disable-arm64e
      - run: tar -cvf ffmpeg-kit-min-gpl-6.0.LTS-ios-framework.zip -C prebuilt/bundle-apple-xcframework-ios .
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: ffmpeg-kit-min-gpl-6.0.LTS-ios-framework.zip
      - name: print build logs
        if: ${{ always() }}
        run: cat build.log
      - name: print ffbuild logs
        if: ${{ failure() }}
        run: '[[ -f ./src/ffmpeg/ffbuild/config.log ]] && tail -50 ./src/ffmpeg/ffbuild/config.log'
